* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

/*BOOT CSS (CLASSES GLOBAIS)*/

input[type=text],
input[type=button],
input[type=submit],
input[type=password],
textarea{
border-radius: 0;
}

html,body{
	overflow-x: hidden;
	height: 100%;
}

input{
	border:0;
}

img{
	width: 100%;
	max-width: 300px;
}

.text-center{
	text-align: center;
}

.center {
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}

.w50 {
    padding: 0 2%;
    width: 50%;
}

.w33 {
    width: 33.33%;
    padding: 0 10px;
}

.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.webview {
	width: 100%;
	margin: auto;
}
/*------------------------------------------*/

/* ESTILIZAÇÃO HEADER */

header {
    padding: 20px 0;
    background: #3D437A;
}

header .logo {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.logo a {
	text-decoration: none;
	color: white;
}


.mobile {
	z-index: 99;
    display: none;
}

nav.desktop ul {
    position: relative; /*Deixar alinhado com a LOGO*/
    top: 3px;
    list-style-type: none; /*Tira as bolinhas*/
}

nav.desktop li {
    font-weight: 300;
    font-size: 15px;
    padding: 0 15px;
    text-transform: uppercase;
    display: inline-block; /*Para ficarel as LI ao lado da outra*/
}

nav.desktop a {
	transition: 1s;
    color: white;
    text-decoration: none; /*Tira a linha*/
}

nav.desktop a:hover {
	color: rgb(155, 71, 204);
	text-decoration: underline;
}
/*--------------------------------------------------------------*/

/* ESTILIZAÇÃO BANNER PRINCIPAL */
section.banner-container{
	width: 100%;
	height: 545px;
	position: relative;
}

.banner-single{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	width: 100%;
	height:100%;
	opacity: 0;
	background-size: cover;
	background-position: center;
}

.bullets{
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 5;
}

.bullets span{
	margin:0 10px;
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #444;
}

.bullets span.active-slider{
	background: white;
}

.overlay{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-color: rgba(51,51,51,0.8); 
}

section.banner-container form{
	width: 93%;
	max-width: 600px;
	z-index: 3;
	position: absolute;
	left: 50%;
	top:50%;
	transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
}

section.banner-container form h2{
	color: white;
	font-weight: 300;
	font-size: 30px;
	text-align: center;
}

section.banner-container form p {
	margin-top: 15px;
	color: white;
	font-weight: 300;
	font-size: 15px;
	text-align: center;
}

section.banner-container form input[type=email]{
	width: 100%;
	height: 66px;
	margin-top:10px;
	background: white;
	color: #333;
	font-size: 22px;
	padding-left: 10px;
}

section.banner-container form input[type=submit]{
	width: 100%;
	height: 66px;
	margin-top:10px;
	background: #00C59E;
	color: white;
	cursor: pointer;
	font-size: 22px;
	border: 0;
}

/*--------------------------------------------------------------------*/

/* ESTILIZAÇÃO DESCRIÇÃO AUTOR */
section.descricao-autor{
	padding:40px 0;
}

section.descricao-autor h2{
    text-align: center;
	font-size: 28px;
	font-weight: bold;
	color: #444;
}

section.descricao-autor p{
	font-size: 16px;
	color: #444;
	font-weight: 300;
	margin-top:10px;
}

/*------------------------------------------------------------------------*/

/* ESTILIZAÇÃO ESPECIALIDADES */
section.especialidades{
	padding: 40px 0;
	background: #E2E2E2;
}

section.especialidades h2.title{
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	color: #999;
}

.box-especialidades{
	margin:40px 0;
    padding: 0 30px;
	text-align: center;
}

.box-especialidades h3{
	color: #404580;
	font-size: 40px;
    
}

.box-especialidades h4{
	font-weight: bold;
	font-size: 25px;
	color: #BABABA;
    
}

.box-especialidades p{
	color: #444;
	font-size: 15px;
	margin-top: 10px;
}

/*-------------------------------------------------------------------------*/

/* ESTLIZANDO GRADUAÇÕES */
/* .graduacoes-container {
	padding:10px 0;
	text-align: center;
	width: 100%;
	background-color: #7f8a86;
	color: #ffffff;
}




.graduacoes-container h2.title{
	padding-top: 20px;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	color: #790e0e;
}

.s-carrousel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	margin-bottom: 100px;
}

.s-carrousel .s-carrousel-container {
	display: flex;
	flex-direction: row;
	min-width: 100%;
}

.s-carrousel-container .s-carrousel-item {
	margin-top: 60px;
	min-height: 260px;
	background-color: #ffffff;
	color: #29ae81;
}

.s-carrousel-container .s-carrousel-item .body {
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 180px;
}

.s-carrousel-item .body .img-certificados {
	position: relative;
	width: 100%;
	
} */

section.graduacoes {
	width: 100%;
	background-color: #29ae81;
	color: #ffffff;
}
section.graduacoes .container {
	padding: 10px;
}
section.graduacoes .container .s-title {
	width: 100%;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}
section.graduacoes .container .s-title h2 {
	font-family: "Open Sans";
	font-weight: 400;
	font-size: 1.6rem;
	font-weight: bold;
	color: #ffffff;
}
section.graduacoes .container .s-carrousel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	margin-bottom: 30px;
}
section.graduacoes .container .s-carrousel .s-carrousel-container {
	padding-top: 20px;
	display: flex;
	flex-direction: row;
	min-width: 100%;
}
section.graduacoes .container .s-carrousel .s-carrousel-container .s-carrousel-item {
	min-height: 260px;
	background-color: #ffffff;
	color: #29ae81;

}
section.graduacoes .container .s-carrousel .s-carrousel-container .s-carrousel-item .title {
	font-family: "Open Sans";
	width: 100%;
	padding: 10px;
}
section.graduacoes .container .s-carrousel .s-carrousel-container .s-carrousel-item .title p {
	font-family: "Ruda", sans-serif;
	font-weight: 400;
	font-size: 1.6rem;
	font-weight: bold;
}
section.graduacoes .container .s-carrousel .s-carrousel-container .s-carrousel-item .body img.graduacoes-img {
    width: 100%; /* Permite que a imagem mantenha suas proporções */
    max-width: 100%; /* Garante que a largura não exceda o contêiner */
    height: 100%; /* Faz a imagem ocupar a altura do item */
    object-fit: cover; /* Ajusta o conteúdo sem distorcer */
    display: block;
    margin: 0 auto;
}



section.graduacoes .container .s-carrousel .s-carrousel-container .s-carrousel-item .body .icon {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-bottom: 10px;
}
section.graduacoes .container .s-carrousel .s-carrousel-container .s-carrousel-item .body .icon span i {
	font-size: 38px;
}
section.graduacoes .container .s-carrousel .s-carrousel-container .s-carrousel-item .body .texto {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 10px;
}
section.graduacoes .container .s-carrousel .s-carrousel-container .s-carrousel-item .body .texto p {
	font-family: "Ruda", sans-serif;
	font-weight: 400;
	text-align: center;
	font-size: 1.4rem;
}





/*------------------------------------------------------------------------------------------------------------*/

/* ESTILIZANDO EXTRAS */
section.extras{
	padding: 30px 0;
	background: #404580;
}

.servicos-container,.depoimentos-container{
	padding: 0 50px;
}

section.extras .title{
	color: white;
	font-weight: bold;
	font-size: 25px;
    margin-top: 15;
	margin-bottom: 15px;
}

.depoimento-single{
	padding:15px 0;
	border-bottom: 1px solid #5056A0;
}

p.depoimento-descricao{
	font-size: 15px;
	color: white;
	font-weight: 300;
}

p.nome-autor{
	font-size: 15px;
	color: white;
	margin-top:5px;
	font-weight:bold;
}

.servicos ul{
	margin:20px 0;
	
}

.servicos li{
	margin-bottom: 15px;
	font-size: 15px;
	color: white;
	font-weight: 300;
}

/*-------------------------------------------------------------*/

/* ESTILIZANDO SEÇÃO PORTFOLIO */
section.portfolio{
	border: 6px solid #ccc;
	padding: 40px 0;
	background: #E2E2E2;
}

section.portfolio h2.title{
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	color: #999;
}

.box-portfolio{
	
	margin:40px 0;
    padding: 0 30px;
	text-align: center;
}

.box-portfolio .port-folio {
	width: 86%;
	height: 47px;
	margin-top:10px;
	background: #00C59E;
	color: white;
	cursor: pointer;
	font-size: 24px;
	border: 0;
}

/*-----------------------------------------------------*/



footer{
	background: #313462;
	padding: 20px 0;
}

footer.fixed{
	position: fixed;
	bottom: 0;
	width: 100%;
}

footer p{
	color: white;
	text-align: center;
	font-weight:400;
	font-size: 16px;
}

/*------------------------------------------------------------------*/

/* ESTILIZANDO PÁGINA DE ERRO 404 */	
section.erro-404 h2{
	text-align: center;
	color: #444;
	font-weight: 400;
	font-size: 28px;
	border-top: 2px solid #444;
}

section.erro-404 p{
	margin-top:8px;
	text-align: center;
	font-size: 16px;
	color: #444;
	font-weight: 300;
}

section.erro-404 a{
	color: #444;
}

.wraper-404{
	transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	width: 100%;
	left: 50%;
	padding: 0 2%;
	max-width: 1280px;
	text-align: center;
	position: absolute;
	top: 50%;
}

/*--------------------------------------------------------------------------------------------------*/

/* ESTILIZANDO PÁGINA DE CONTATO E MAPA */
#map{
	width: 100%;
	height: 400px;
}

.contato-container{
	padding:40px 0;
	text-align: center;
}

.contato-container input[type=text]{
	margin:8px 0;
	width: 100%;
	height: 40px;
	border:1px solid #ccc;
	padding-left: 8px;
	font-size: 16px;
	max-width: 800px;
	color: #444;
}

.contato-container textarea{
	padding: 8px;
	margin:8px 0;
	width: 100%;
	height: 120px;
	border:1px solid #ccc;
	padding-left: 8px;
	font-size: 16px;
	max-width: 800px;
	resize: vertical;
	color: #444;
}

.contato-container input[type=submit]{
	background: #00C59E;
	width: 140px;
	height: 40px;
	color: white;
	cursor: pointer;
}

.container-whatsapp {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	position: fixed;
	bottom: 50px;
	right: 5px;
	padding: 15px;
	min-width: 40px;
	min-height: 40px;
	z-index: 9999;
}

.container-whatsapp .btn-whatsapp {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: none;
	cursor: pointer;
	text-decoration: none;
	background-color: #29ae81;
}

.container-whatsapp .btn-whatsapp i {
	font-size: 2rem;
	color: #ffffff;
}

.container-whatsapp .btn-whatsapp:hover {
	background-color: #1E8865;
	border: 2px solid #ffffff;
}



/* ESTILICAÇÃO RESPONSIVO */
@media screen and (max-width: 768px){
	img{
        float: none !important;
		display: block;
		margin:0 auto;
	}

	.w50{
		padding:20px;
		width: 100%;
	}

	.w33{
		width: 100%;
		padding: 20px;
	}
}

@media screen and (max-width: 700px){
	nav.desktop{
		display: none;
	}

	nav.mobile{
		display: block;
	}

	.botao-menu-mobile{
		font-size: 24px;
		cursor: pointer;
		color: white;
	}

	nav.mobile ul{
		top: 74px;
		z-index: 3;
		position: absolute;
		left: 0;
		width: 100%;
		display: none;
		text-align: center;
	}

	nav.mobile li{
		font-weight: 300;
		width: 100%;
		display: block;
		background: white;
		border-bottom:1px solid #ccc;
		font-size: 17px;
		padding:8px 0;
	}
	nav.mobile li a{
		display: block;
		color: #444;
		text-decoration: none;
	}

	section.banner-container{
		height: 490px;
	}

    .box-especialidades{
		padding:30px 20px;
		margin: 0;
	}

	.box-portfolio{
		margin:25px 0;
		padding: 0 30px;
		
	}

	.box-portfolio .port-folio {
		width: 74%;
		height: 47px;
		margin-top:15px;
		
		cursor: pointer;
		font-size: 24px;
		
	}

    footer p{
        font-size: 12px;
    }

	section.banner-container form h2{
		
		font-size: 22px;
		padding-bottom: 5px;
		
	}
	
	section.banner-container form p {
		margin-top: 7px;
		
		
		font-size: 13px;
		
	}
}


